<b style ="color:blue; font-family: courier; font-size: 160%"> Welcome! </b>
<p>
<b> This twitter is exclusively about nature.
	<p></p>
	<img src="Suisse.jpg" alt="Suisse" style="width:304px; height:228px">
</b>
</p>
