<body>
	 Hello Macgill :)
</body>



 <%= simple_form_for @tweet do |f| %>
 	<%= f.input :content %>
	<%= f.button :submit %>
 <% end %>

<%-#for each tweet, output the content-%>
<%-#|tweet| refers to the objects-%>

<ul>
 <% @tweets.each do |tweet| %>
 	<li><%= tweet.content %></li>
 <% end %>
</ul>